<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" data-bs-theme="light">

<head>
	<meta charset="UTF-8">
	<title>Admin - Detalhe da Inscrição</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

	<link rel="stylesheet" href="/css/estiloDash.css">

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var dataConvertElements = document.querySelectorAll('.dataConvert');

			dataConvertElements.forEach(function (element) {
				var dataSQL = element.textContent;
				var partesData = dataSQL.split('-');
				var dataFormatada = partesData[2] + '/' + partesData[1] + '/'
					+ partesData[0];
				element.textContent = dataFormatada;
			});
		});
	</script>

</head>

<body>
	<div class="container-fluid overflow-hidden">
		<header class="container">
			<nav class="navbar navbar-expand-lg fixed-top navbar-dark shadow-sm" id="menu">
				<div class="container-fluid">
					<a th:href="@{/admin/index}" class="navbar-brand"> <span class="mx-3">Emprega + </span>Dashboard de
						ADM </a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse flex-row-reverse" id="navbarContent">
						<ul class="navbar-nav">
							<li class="nav-item"><a th:href="@{/admin/index}" class="nav-link">
									<i class="fas fa-home"></i> Home
								</a></li>

							<li class="dropdown"><a href="#" class="nav-link dropdown-toggle" id="dropdown"
									data-bs-toggle="dropdown" aria-expanded="false"> <i class="fas fa-users"></i><span
										class="ms-1 d-sm-inline">Usuários</span>
								</a>
								<ul class="dropdown-menu dropdown-menu-dark text-small shadow"
									aria-labelledby="dropdown">
									<li><a class="dropdown-item" th:href="@{/admin/usuario/listar}">Listar</a></li>
									<li><a class="dropdown-item" th:href="@{/admin/usuario/save}">Cadastrar</a></li>
								</ul>
							</li>

							<li class="dropdown"><a href="#" class="nav-link dropdown-toggle" id="dropdown"
									data-bs-toggle="dropdown" aria-expanded="false"> <i
										class="fs-5 fas fa-icons"></i><span class="ms-1 d-sm-inline">Postagens</span>
								</a>
								<ul class="dropdown-menu dropdown-menu-dark text-small shadow"
									aria-labelledby="dropdown">
									<li><a class="dropdown-item" th:href="@{/admin/postagem/lista}">Listar</a></li>
									<li><a class="dropdown-item" th:href="@{/admin/postagem/criar}">Cadastrar</a></li>
								</ul>
							</li>

							<li class="dropdown"><a href="#" class="nav-link dropdown-toggle" id="dropdown"
									data-bs-toggle="dropdown" aria-expanded="false"> <i
										class="fs-5 fas fa-book-open"></i><span class="ms-1 d-sm-inline">Cursos</span>
								</a>
								<ul class="dropdown-menu dropdown-menu-dark text-small shadow"
									aria-labelledby="dropdown">
									<li><a class="dropdown-item" th:href="@{/admin/curso/lista}">Listar</a></li>
									<li><a class="dropdown-item" th:href="@{/admin/curso/cadastro}">Cadastrar</a></li>
								</ul>
							</li>

							<li class="dropdown"><a href="#" class="nav-link active dropdown-toggle" id="dropdown"
									data-bs-toggle="dropdown" aria-expanded="false"> <i
										class="fs-5 fas fa-pencil-alt"></i><span
										class="ms-1 d-sm-inline">Inscrições</span>
								</a>
								<ul class="dropdown-menu dropdown-menu-dark text-small shadow"
									aria-labelledby="dropdown">
									<li><a class="dropdown-item" th:href="@{/admin/inscricao/lista}">Listar</a></li>
								</ul>
							</li>
							<li class="nav-item"><a th:href="@{/admin/suporte}" class="nav-link"> <i
										class="fs-5 fas fa-headset"></i></i>
									Suporte
								</a></li>
							<li class="nav-item"><a th:href="@{/}" class="nav-link" target="_blank"> <i
										class="fas fa-external-link-alt"></i>
									Ver o Sistema Principal
								</a></li>

							<li class="nav-item"><a th:href="@{/logout}" class="nav-link"> <i
										class="fas fa-sign-out-alt"></i> Sair
								</a></li>

						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="container-fluid conteudo">

			<main class="col pt-2 pb-4">
				<h1>
					Dados da inscrição Nº <span class="text-primary" th:text="${inscricao.id}"></span>
				</h1>
				<hr>
				<div class="col-lg-8 mx-auto">
					<div class="card mb-4">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-1">Dados do Usuário</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-1">ID: <span th:text="${inscricao.perfil.id}"></span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-1">Nome: </p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-1" th:text="${inscricao.perfil.usuario.nome}"></p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-1">E-mail: </p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-1" th:text="${inscricao.perfil.usuario.email}"></p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-1">Escolaridade: </p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-1" th:text="${inscricao.perfil.escolaridade}"></p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-1">Renda: </p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-1" th:text="${inscricao.perfil.renda}"></p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-1">Data de Nascimento: </p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-1 dataConvert" th:text="${inscricao.perfil.dataNas}">
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-1"></p>
								</div>
								<div class="col-sm-9">
									<a th:href="@{/perfil/details(perfilId=${inscricao.perfil.id})}"
										class="btn btn-secondary" target="_blank">Ver Perfil Completo</a>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-1">Data da Inscrição</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-1"><span class="dataConvert"
											th:text="${inscricao.dataInscricao}"></span></p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-1">Título do Curso</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-1" th:text="${inscricao.curso.titulo}"></p>
								</div>
							</div>
							<hr>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-center">
					<a th:href="@{/admin/inscricao/lista}" class="btn btn-lg btn-success"> Voltar </a>
				</div>
			</main>


		</div>
	</div>
	<footer class="row container-fluid footer">
		<div class="col col-md-8">&reg; Empreenda + | 2024</div>
		<div class="col col-6 col-md-4 d-flex justify-content-end">Versão
			- 3.0 (Spring)</div>
	</footer>


</body>

</html>