<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" data-bs-theme="light">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Link CSS Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

	<!-- Link JavaScript Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>

	<!-- Link Font-Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

	<link rel="stylesheet" href="/css/styleCursos.css">

	<style>
		@media (max-width : 770px) {
			.fotoCapa {
				display: inline;
				inline-size: -webkit-fill-available;
			}
		}

		iframe,
		#media {
			margin-left: auto;
			margin-right: auto;
			display: inline;
			inline-size: -webkit-fill-available;
			height: 450px;
		}
	</style>

	<title>Detalhes do Curso</title>
</head>

<body class="mt-0">
	<!-- Menu Principal -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top shadow-sm">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/index}">Empreenda <span class="tituloMais">+</span></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/index}"> <i
								class="fas fa-home"></i>
							Página Principal
						</a></li>
					<li class="nav-item"><a class="nav-link active" th:href="@{/cursos/index}"> <i
								class="fas fa-book-open"></i> Cursos
						</a></li>
					<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/register}">
							Cadastrar</a></li>
					<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/login}">
							Entrar</a></li>
					<li sec:authorize="!isAuthenticated()"><a class="nav-link" th:href="@{/ajuda}">Ajuda</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="#"> <i
								class="fas fa-envelope"></i> Mensagens
						</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link"
							th:href="@{/cursos/usuario}"> <i class="fas fa-book-reader"></i> Meus Cursos
						</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item dropdown"><a class="nav-link dropdown-toggle"
							href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Perfil </a>
						<ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#"><i class="fas fa-user-circle fs-4 px-1"></i>
									<span th:text="${#authentication.name}">
									</span></a></li>
							<li><a class="dropdown-item" th:href="@{/perfil}"><button class="btn border"
										id="btnPerfil">Ver
										Perfil</button></a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">Configurações</a></li>
							<li><a class="dropdown-item" th:href="@{/ajuda}">Ajuda</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" th:href="@{/logout}">Sair</a></li>
						</ul>
					</li>
					<li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item"><a class="nav-link"
							href="/Empreenda-Mais/dashboardAdmin/Dashboard.jsp"> <i class="fas fa-user-cog"></i>
							Dashboard ADM
						</a></li>
					<li sec:authorize="hasAuthority('ROLE_COLAB')" class="nav-item"><a class="nav-link"
							th:href="@{/colab/index}" target="_blank"> <i class="fas fa-user"></i> Dashboard
							Colaborador
						</a></li>
				</ul>

			</div>
		</div>
	</nav>

	<div class="container-fluid conteudo">
		<main class="container-fluid mb-6">
			<section class="vh-75 mt-5">
				<div class="container h-100">
					<div class="row d-flex justify-content-center align-items-center h-100">
						<div class="col-lg-12 col-xl-11">
							<div class="card text-black">

								<div class="card-body p-md-5">
									<div th:if="${param.inscricaoSuccess}">
										<div class="alert alert-success alert-dismissible fade show" role="alert">
											<i class="fas fa-check-circle fs-4 mx-1"></i> Inscrição feita com sucesso.
											Acesse o conteúdo na aba
											MEUS CURSOS. Bons Estudos!
											<button type="button" class="btn-close" data-bs-dismiss="alert"
												aria-label="Close"></button>
										</div>
									</div>
									<div th:if="${param.inscricaoError}">
										<div class="alert alert-danger alert-dismissible fade show" role="alert">
											<i class="fas fa-info-circle fs-4 mx-1"></i> Você já está inscrito neste
											curso. Acesse na aba MEUS CURSOS. Bons Estudos!
											<button type="button" class="btn-close" data-bs-dismiss="alert"
												aria-label="Close"></button>
										</div>
									</div>
									<div class="row justify-content-center">
										<div>
											<div class="d-flex justify-content-center">
												<img th:src="${curso.fotoCapa}" class="fotoCapa" alt="Imagem de Capa">
											</div>
											<div class="d-flex flex-row flex-wrap align-items-center mb-4 mt-3">
												<div class="form-outline flex-fill mx-1 mb-0">
													<h1 class="text-center" th:text="${curso.titulo}"></h1>
												</div>
											</div>

											<div class="d-flex flex-row align-items-start mb-4">
												<div class="form-outline flex-fill mb-0">
													<h4 class="text-muted">Educador: <a
															th:href="@{/perfil/details(perfilId=${curso.idColaborador.id})}"><span
																th:text="${curso.idColaborador.usuario.nome}"></span></a>
													</h4>

												</div>
											</div>

											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													<h4>Descrição do Curso</h4>
													<p th:utext="${curso.descricaoLonga}"></p>
												</div>
											</div>

											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0" th:utext="${curso.mediaUrl}">
												</div>
											</div>
											<div sec:authorize="isAuthenticated()"
												class="d-flex justify-content-center mb-3">
												<div th:if="${not inscricao}">
													<form th:action="@{/cursos/inscricao/save(id=${curso.id})}"
														method="post">
														<input type="hidden" name="id" th:value="${curso.id}">
														<button type="submit" class="btn btn-primary btn-large">
															<i class="fas fa-pencil-alt mx-1"></i> Fazer Inscrição
														</button>
													</form>
												</div>
												<div th:if="${inscricao}">
													<a th:href="@{/cursos/usuario}" class="btn btn-primary btn-large" href="#">
														Acesse o curso
													</a>
												</div>

											</div>
											<div sec:authorize="!isAuthenticated()" class="d-flex mb-3">
												<p>Faça login para se inscrever <a class="btn btn-primary mx-1"
														th:href="@{/login}">Fazer Login</a>
												</p>
												<p> ou cadastre-se <a class="btn btn-success mx-1"
														th:href="@{/register}">Fazer Cadastro</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>
		</main>

	</div>
</body>

</html>